<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('ZF Skeleton Application')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?=
                $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?=
                $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
                ->prependStylesheet($this->basePath('css/font-awesome.css'))
                ->prependStylesheet($this->basePath('css/sweetalert2.css'))
                ->prependStylesheet($this->basePath('css/style.css'))
                ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
                ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ?>

        <!-- Scripts -->
        <?=
                $this->headScript()
                ->prependFile($this->basePath('js/jquery.form.js'))
                ->prependFile($this->basePath('js/global.js'))
                ->prependFile($this->basePath('js/php_js.js'))
                ->prependFile($this->basePath('js/validate/messages_pt_BR.js'))
                ->prependFile($this->basePath('js/validate/additional-methods.js'))
                ->prependFile($this->basePath('js/validate/jquery.validate.js'))
                ->prependFile($this->basePath('js/sweetalert2.js'))
                ->prependFile($this->basePath('js/bootstrap.min.js'))
                ->prependFile($this->basePath('js/jquery-3.2.1.min.js'))
        ?>
    </head>
    <body>
        <?= $this->content ?>
    </body>
</html>
